<launch>
    <!--eval gropus-->
    <arg name="rosbridge_websockets" default="true" />
    <arg name="map_merge" default="false" />
    <arg name="front_end_listener" default="true" />


    <!--required websocket args-->
    <arg name="local_port" default="9090" />
    <arg name="server_port" default="9090" />

    <!-- ROSbridge Server -->
    <group if="$(arg rosbridge_websockets)">
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <!-- set robot local and external port -->
            <arg name="port" value="$(arg local_port)" />
            <arg name="websocket_external_port" value="$(arg server_port)" />
        </include>
    </group>

    <group if="$(arg map_merge)">
        <include file="$(find server_slam)/launch/map_merge.launch">
        <!-- set robot local and external port -->
            
        </include>
    
    </group>

    <group if="$(arg front_end_listener)">

        <node pkg="server_slam" type="front_end_service" name="front_end_service" respawn="true" respawn_delay="30" output="screen">
            
        </node>
    
    </group>

    <!--
    <arg name="onboard_slam" default="false" />
    <arg name="server_slam" default="false" />
    

    <arg name="robot_name" />  
    <arg name="ip" />  
    <arg name="port" />  

    <group if="$(arg server_slam)">
        <include file="$(find server_slam)/launch/server_slam.launch">

            <arg name="robot_name" value="$(arg robot_name)"/>  
            <arg name="ip" value="$(arg ip)"/>  
            <arg name="port" value="$(arg port)"/> 
        </include>
    </group>


    <group if="$(arg onboard_slam)">
        <include file="$(find server_slam)/launch/onboard_slam.launch">

            <arg name="robot_name" value="$(arg robot_name)"/>  
            <arg name="ip" value="$(arg ip)"/>  
            <arg name="port" value="$(arg port)"/> 
        </include>
    </group>
    -->
  
</launch>