<?xml version="1.0"?>
<launch>
<!--include launch file args-->
    <arg name="agent_ip" default="localhost" />
    <arg name="agent_port" default="9090" />
    <arg name="test_frequency" default="80" />

    <node pkg="server_listener" type="check_latency" name="check_latency" output="screen">
        <param name="agent_ip" value="$(arg agent_ip)"/> 
        <param name="agent_port" value="$(arg agent_port)"/> 
        <param name="test_frequency" value="$(arg test_frequency)"/> 
    </node>
</launch>