<launch>
  
  <!--eval gropus-->
  <arg name="listener" default="true" />  

  <!--required listener args-->
  <arg name="imu" default="true" />
  <arg name="cmd_vel" default="true" />
  <arg name="joint_states" default="true" />
  <arg name="map" default="true" />
  <arg name="map_metadata" default="true" />
  <arg name="scan" default="true" />
  <arg name="odom" default="true" />
  <arg name="slam_entropy" default="true" />
  <arg name="tf" default="true" />
  <arg name="tf_static" default="true" />
  <arg name="time" default="true" />
  <arg name="pub_frequency" default="80" />
  
  <!--load Robots IP, Port to ROS Parameter Server for listener node in yaml file-->
  <rosparam command="load" file="$(find server_listener)/config/server_params.yaml" />
    
  <!--groups-->

  <group if="$(arg listener)">
  <!-- stuff that will only be evaluated if listener is true -->

    <node name="listener" pkg="server_listener" type="listener" output="screen">
        <!--private params-->
        <param name="get_imu" value="$(arg imu)"/> 
        <param name="get_cmd_vel" value="$(arg cmd_vel)"/> 
        <param name="get_joint_states" value="$(arg joint_states)"/> 
        <param name="get_map" value="$(arg map)"/> 
        <param name="get_map_metadata" value="$(arg map_metadata)"/>
        <param name="get_scan" value="$(arg scan)"/>
        <param name="get_odom" value="$(arg odom)"/> 
        <param name="get_slam_entropy" value="$(arg slam_entropy)"/> 
        <param name="get_tf" value="$(arg tf)"/> 
        <param name="get_tf_static" value="$(arg tf_static)"/>
        <param name="get_time" value="$(arg time)"/> 
        <param name="pub_frequency" value="$(arg pub_frequency)"/> 
        <!--Freq and robot Parameter included in server_params.yaml-->
    </node>
  </group>

  
</launch>