<launch>
  
  <!--include launch file args-->
  <arg name="listener" default="true" />
  <arg name="test_roundtrip_time" default="false" />

  <!--args-->
  <arg name="use_actual" default="false" />
  

  
  <!--load waypoints constants to ROS Parameter Server for mover node-->
  <rosparam command="load" file="$(find server_listener)/config/server_params.yaml" />
    
  <!--nodes-->

  <group if="$(arg listener)">
  <!-- stuff that will only be evaluated if listener is true -->
    <node name="server_listener" pkg="server_listener" type="server_listener" output="screen">
        <!--private params-->
        <!--Freq Parameter included in server_params.yaml-->
    </node>
  </group>
  
  <group if="$(arg test_roundtrip)">
    <node name="server_listener" pkg="server_listener" type="server_listener" output="screen">
    </node>
  </group>
  
</launch>