<?xml version="1.0"?>
<launch>
    <!--include launch file args-->
    <arg name="slam" default="true" />
    <arg name="turtlebot_bringup" default="true" />
    <arg name="rosbridge_websockets" default="true" />

    <!--required args-->
    <arg name="local_port" default="9090" />
    <arg name="server_port" default="10101" />
    <arg name="open_slam_rviz" default="false" />

    <!--groups-->

    <group if="$(arg slam)">
    <!-- stuff that will only be evaluated if launch_slam is true -->
        <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <!-- all vars that included.launch requires must be set -->
            <arg name="open_rviz" value="$(arg open_slam_rviz)" />
        </include>
    </group>

    <group if="$(arg rosbridge_websockets)">
        <!-- stuff that will only be evaluated if launch_slam is true -->
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <!-- all vars that included.launch requires must be set -->
            <arg name="port" value="$(arg local_port)" />
            <arg name="websocket_external_port" value="$(arg server_port)" />
        </include>
    </group>

    <group if="$(arg turtlebot_bringup)">
        <!-- stuff that will only be evaluated if launch_slam is true -->
        <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch">
        <!-- all vars that included.launch requires must be set -->

        </include>
    </group>


</launch>