<?xml version="1.0"?>
<launch>
    <!--eval gropus-->
    <arg name="remote_bringup" default="false" />
    <arg name="onboard_slam" default="false" />
    <arg name="rosbridge_websockets" default="true" />
    <arg name="multi_robot_name" default="" />
    <arg name="publish_time" default="true" />
    <arg name="GPS" default="false" />


    <!--required onboard_slam args-->
    <arg name="sync_mode" default="false" />
    <arg name="slam_toolbox" default="true" />
    <arg name="navigation" default="false" />
    

    <!--required websocket args-->
    <arg name="local_port" default="9090" />
    <arg name="server_port" default="10101" />
    
    <!-- Onboard Slam  -->
    <group if="$(arg onboard_slam)">
       
        <include file="$(find agent_bringup)/launch/onboard_slam.launch">
        <!-- set sync or async mode and slam toolbox option-->
            <arg name="sync_mode" value="$(arg sync_mode)" />
            <arg name="slam_toolbox" value="$(arg slam_toolbox)" />
            <arg name="navigation" value="$(arg navigation)" />
            <arg name="multi_robot_name" value="$(arg multi_robot_name)" />
        </include>
    </group>

    <!-- ROSbridge Server -->
    <group if="$(arg rosbridge_websockets)">
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <!-- set robot local and external port -->
            <arg name="port" value="$(arg local_port)" />
            <arg name="websocket_external_port" value="$(arg server_port)" />
        </include>
    </group>

    <!-- robot bringup -->
    <group>
        <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch">
            <!--
            <arg name="multi_robot_name" value="$(arg multi_robot_name)" />
            <arg name="set_lidar_frame_id" value="$(arg multi_robot_name)/base_scan" />
            -->
        </include>
    </group>

    <!-- GPS Node -->
    <group if="$(arg GPS)">
        <node pkg="agent_bringup" type="gps" name="gps">
            
        </node>
    </group>

    <!-- rebot state publisher bringup (only for debugging)-->
    <group if="$(arg remote_bringup)">
        <!-- used for online slam and slam_toolbox not tb3_slam or navigation (it has its own)-->
        <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
            <arg name="model" value="burger" />
            <!--
            <arg name="multi_robot_name" value="$(arg multi_robot_name)" />
            -->
        </include>
    </group>
    
    <!-- time publisher only for latency test-->
    <group if="$(arg publish_time)">
        <node pkg="agent_bringup" type="time" name="time">
        </node>
    </group>


</launch>